<br />
<!-- Past comments -->
<% post.comments.forEach(function (comment, index) { %>
    <div class="comment">
        <p>
            <img src="<%= comment.head %>" class="head" />
            <a href="<%= comment.website %>">@ <%= comment.name %></a>

            <span class="reply_info" >
                <i class="far fa-clock"></i> <%= comment.time %>
                <%- comment.content %>
            </span>
        </p>
    </div>
<% }) %>
<!-- New comments -->
<form method="post">
    <% if (user) { %>
        <i class="fas fa-user-circle"></i> name: <input type="text" name="name" value="<%= user.name %>" /><br />
        <i class="fas fa-dove"></i> mail: <input type="text" name="email" value="<%= user.email %>" /><br />
        <i class="fas fa-link"></i> site: <input type="text" name="website" value="/u/<%= user.name %>" /><br />
    <% } else { %>
        <i class="fas fa-user-circle"></i> name: <input type="text" name="name" /><br />
        <i class="fas fa-dove"></i> mail: <input type="text" name="email" /><br />
        <i class="fas fa-link"></i> site: <input type="text" name="website" value="http://" /><br />
    <% } %>
    <br />
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="Reply" />
</form>